<template>
  <div class="cmd">
    <div class="box-cmd">
      <div v-for="(item, i) in commandDataRevert" :key="i">
        <div class="text-input">
          <div class="text-header">{{ item.title }}</div>
          <!-- <input
            v-show="item.value"
            :value="item.value"
            class="command-line"
            disabled
          /> -->
        </div>
        <div v-if="Array.isArray(item.message)">
          <div
            v-for="(value, index) in item.message"
            :key="`message-item-${index}`"
            class="whitespace-pre"
          >
            {{ value }}
          </div>
        </div>
        <div v-else class="whitespace-pre">{{ item.message }}</div>
      </div>
      <div ref="box" class="text-input min-w-full">
        <div class="text-header">sv@dev_dien: {{ current }} $</div>
        <div class="flex-1 overflow-hidden">
          <input
            ref="command-input"
            autofocus
            v-model="command"
            @keydown="restrictChars($event)"
            class="command-line"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CommandFactory } from "../helpers/Utils";

export default {
  name: "CommandLine",
  data() {
    return {
      command: "",
      commandData: [],
      current: localStorage.getItem("currentFolder"),
      backToHistory: -1,
      specificCommand: ["clear"],
      commandHistory: localStorage.getItem("commandHistory") || [],
    };
  },
  computed: {
    commandDataRevert() {
      return [...this.commandData].reverse();
    },
  },
  watch: {
    backToHistory(newVal) {
      if (newVal > -1 && newVal < this.commandHistory.length) {
        this.command = this.commandHistory[newVal];
      } else if (newVal < 0) {
        this.command = "";
        this.backToHistory = -1;
      } else if (newVal >= this.commandHistory.length) {
        this.command = "";
        this.backToHistory = this.commandHistory.length - 1;
      }
    },
    commandHistory() {
      if (this.commandHistory.length > 100) {
        this.commandHistory = this.commandHistory.slice(0, 100);
        localStorage.setItem("commandHistory", this.commandHistory);
      }
    },
  },
  methods: {
    restrictChars: async function ($event) {
      switch ($event.key) {
        case "Enter":
          if (this.command) {
            this.commandHistory.unshift(this.command);
            if (this.specificCommand.includes(this.command)) {
              this.handleSpecificCommand(this.command);
              return;
            }
            const command = CommandFactory.getInstance(this.command);
            try {
              const response = await command.send();
              this.addHistory({
                title: `sv@dev_dien: ${this.current} $ ${this.command}`,
                value: this.command,
                message: response,
              });
            } catch (e) {
              // handle exeption
              this.addHistory({
                title: `sv@dev_dien: ${this.current} $ ${this.command}`,
                value: this.command,
                message: e,
              });
            } finally {
              this.command = "";
              this.current = localStorage.getItem("currentFolder");
            }

            // sendCommand({
            //   command: this.command,
            //   ...command.getParameters(),
            // }).then((e) => {
            // });
          } else {
            this.addHistory({
              title: `sv@dev_dien: ${this.current} $ ${this.command}`,
              value: "",
            });
          }
          this.$refs.box.scrollIntoView({ top: 0, behavior: "smooth" });
          break;
        case "ArrowUp":
          this.backToHistory++;
          $event.preventDefault();
          break;
        case "ArrowDown":
          this.backToHistory--;
          $event.preventDefault();
          break;
        default:
          break;
      }
    },
    addHistory(...params) {
      this.commandData.unshift(...params);
    },
    handleSpecificCommand(command) {
      switch (command) {
        case "clear":
          this.command = "";
          this.commandData = [];
          this.backToHistory = -1;
          break;
        default:
          break;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.cmd {
  .box-cmd {
    overflow-y: scroll;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(5, 25, 55);
    padding: 0.5rem;
    color: white;
    text-align: left;
    .command-line {
      padding-left: 5px;
      // font-size: 14px;
      opacity: 1 !important;
    }
    .text-input {
      display: flex;
      input {
        margin-left: 5px;
        width: 100%;
        background: rgb(5, 25, 55);
        border: none;
        outline: none;
        color: white;
      }
      .text-header {
        white-space: nowrap;
      }
    }
  }
}
</style>
