<template>
  <div class="form-wrapper">
    <div class="container">
      <h1 class="title">Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr />

      <label for="email"><b>Email</b></label>
      <input
        type="text"
        placeholder="Enter Email"
        name="email"
        id="email"
        v-model="email"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        id="psw"
        v-model="password"
        required
      />
      <hr />
      <button type="submit" class="registerbtn" @click="register">Register</button>
    </div>
    <div class="container signin">
      <p>
        Already have an account?
        <router-link to="/login"><a>Sign in</a></router-link>
        .
      </p>
    </div>
  </div>
</template>

<script>
import Constants from "../helpers/Constants";
import { registerAPI, setToken } from "../axios";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async register() {
      try {
        const response = await registerAPI({
          email: this.email,
          password: this.password,
        });
        if (response.data.code === Constants.SUCCESS_CODE) {
          this.$vs.notification({
            color: "rgb(59,222,200)",
            position: null,
            title: "Register successful",
            text: "Now you can use it !!!",
          });
          localStorage.setItem("token", response.data.data.token);
          localStorage.setItem("currentFolder", "/");
          setToken(response.data.data.token);
          this.$router.push("/");
        } else {
          this.$vs.notification({
            color: "danger",
            position: null,
            title: "Register successful",
            text: "Something went wrong !!!",
          });
        }
      } catch (e) {
        this.$vs.notification({
          color: "danger",
          position: null,
          title: "Register successful",
          text: "Something went wrong !!!",
        });
      }
    },
  },
};
</script>

<style scoped>
.form-wrapper {
  width: 550px;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 6px;
  margin-top: 7rem;
}
/* Add padding to containers */
.container {
  background-color: white;
  text-align: left;
}
.container > .title {
  line-height: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #00c9b7;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
  margin-top: 2rem;
}
</style>
